body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
}

.sidebar {
  background-color: #262a2f;
  color: white;
  padding: 20px;
  width: 200px;
  height: 100vh;
  transform: translateX(-100%);
  transition: transform 0.3s ease;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.sidebar.open {
  transform: translateX(0);
}

.content {
  flex: 1;
  padding-left: 220px; /* Pour laisser de l'espace pour le sidebar ouvert */
  transition: padding-left 0.3s ease; /* Ajout de la transition pour le contenu principal */
  overflow-x: hidden; /* Empêcher le défilement horizontal lorsque le sidebar est ouvert */
}

header {
  background-color: #262a2f;
  color: white;
  text-align: center;
  padding: 40px 0;
}

h1 {
  font-size: 36px;
  margin-bottom: 10px;
}

.subheader {
  font-size: 18px;
}

.features {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 40px 0;
}

.feature {
  text-align: center;
  width: 300px;
  margin: 20px;
}

.feature img {
  width: 100px;
  height: 100px;
  margin-bottom: 20px;
}

footer {
  background-color: #262a2f;
  color: white;
  text-align: center;
  padding: 20px 0;
}
